
.DS_Store
/RevisaoJava/nbproject/private/
/RevisaoJava/build/
/PrimeiroProjetoJSP/nbproject/private/
/PrimeiroProjetoJSP/build/
/Bhaskara/nbproject/private/
/Bhaskara/build/
/UniClima/nbproject/private/
/UniClima/build/
/Cookies_Sessoes/nbproject/private/
/Cookies_Sessoes/build/
/SisAcademico/nbproject/private/
/SisAcademico/build/
